@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900');

@font-face {
    font-family: 'Monoid Bold';
    src: url('../fonts/monoid-bold-webfont.woff2') format('woff2'),
    url('../fonts/monoid-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Monoid Italic';
    src: url('../fonts/monoid-italic-webfont.woff2') format('woff2'),
    url('../fonts/monoid-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Monoid';
    src: url('../fonts/monoid-regular-webfont.woff2') format('woff2'),
    url('../fonts/monoid-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Monoid';
    src: url('../fonts/monoid-retina-webfont.woff2') format('woff2'),
    url('../fonts/monoid-retina-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    font-family: 'Raleway', sans-serif;
}

body {
    margin: 0;
    margin-top: 100px;
    background-image: url("../images/background.png");
    background-size: 100vw;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

button.filter:nth-child(1n+2) {
    margin-left: 10px;
    margin-top: 10px;
}

img {
    border-radius: 10px;
    width: 240px
}

.profile-picture {
    background-color: #fff;
}

.header {
    z-index: 10000;
    background-color: rgb(256, 256, 256);
    padding: 20px 0;
    vertical-align: middle;
    top: 0;
    width: 100%;
    position: fixed;
    border-bottom: 1px solid rgb(50, 50, 50);
}

/* support backdrop-filter */
@supports ( (-webkit-backdrop-filter: blur(1px)) or (backdrop-filter: blur(1px)) ) {
    .header {
        background-color: rgba(256, 256, 256, 0.8);
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
    }
}

.header p {
    margin: 0;
    font-size: 24px;
}

.header .logo {
    background-image: url('../images/logo.svg');
    display: inline-block;
    width: 20px;
    height: 20px;
}

.header .link {
    float: right;
    margin: 5px 15px;
    color: rgb(50, 50, 50);
}

.header .blog {
    float: right;
}

.profile-picture {
    float: right;
}

.content {
    margin: 20px 0;
}

.experience {
    position: relative;
    overflow: hidden;
}

.experience .fill {
    position: absolute;
    background-color: rgba(50, 150, 250, 0.1);
    width: 100%;
    left: 0;
    bottom: 0;
}

.header-info {
    padding: 200px 0;
    text-align: center;
}

.header-info h1 {
    font-family: "Monoid Bold";
    font-size: 2.9vw;
    min-font-size: 300px;
    font-weight: 600;
}

.header-info span {
    font-family: "Monoid";
    font-size: 2.9vw;
    font-weight: 300;
}

.header-info p {
    font-size: 2vw;
}


.header-info input {
    padding: 10px;
    width: 40vw;
    min-width: 200px;
    max-width: 576px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border-radius: 0;
    border: 1px solid black;
}

.search-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    border-radius: 0;
    padding: 10px;
}

.header-info .search-results {
    padding: 0;
    margin: 0 auto;
    width: 36.05vw;
    min-width: 300px;
    outline: none;
    border: 1px solid black;
    margin-top: 10px;
    position: absolute;
    z-index: 1000;
    left: 90px;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 576px;
}

.header-info .search-results button {
    width: 100%;
    border: 0;
    border-top: 1px solid black;
    margin: 0;
}

.header-info .search-results .result {
    font-size: 24px;
    background-color: #fff;
}

.header-info .search-results .result:hover {
    background-color: black;
}

.header-info .search-results .result:hover a {
    color: white;
}

.header-info .search-results .result:first-child a {
    border: 0px;
}

.header-info .clear-search {
    margin-top: 10px;
    width: 36.05vw;
}

.header-info .search-results .result a {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border-top: 1px solid black;
    display: inline-block;
    color: black;
    text-decoration: none;
}

.group {
    margin-top: 0px;
}

.card-content {
    z-index: 100;
}

.spacer {
    padding-top: 20px;
}

.profile {
    position: relative;
    height: 290px;
}

.tab-button {
    width: 100%;
}

button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: white;
    border: 1px solid #323232;
    padding: 10px 20px;
}

button:hover {
    background-color: #323232;
    color: white;
    cursor: pointer;
}

button.selected {
    background-color: #323232;
    color: white;
}

.button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: white;
    border: 1px solid #323232;
    padding: 10px 20px;
    color: black;
    text-decoration: none;
}

.button:hover {
    background-color: #323232;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.button.selected {
    background-color: #323232;
    color: white;
}

.card {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.tabs {
    margin: 20px 0;
}

.tabs > div {
    transition: .1s linear;
}

.tabs > :first-child button {
    border-right: none;
}

.tabs > :nth-child(2) button {
    border-right: none;
}

.tabs > :last-child button {
    border-left: none;
}

.tabs .col-6 {
    padding: 0;
}

.tabs .col-2 {
    padding: 0;
}

.card {
    background-color: #fff;
    padding: 10px;
    padding-top: 150px;
    text-align: right;
    border: 1px solid rgb(50, 50, 50);
}

.card .language {
    font-size: 48px;
    position: absolute;
    top: 10px;
    left: 20px;
    opacity: .2;
}

.card h1 {
    font-size: 21px;
}

.gallery-row:nth-child(n+2) {
    margin-top: 10px;
}

.gallery-row {
    margin-bottom: 20px;
}

.gallery-row .picture {
    border-radius: 0;
    width: 100%;
}

.gallery-row .button {
    margin-bottom: 20px;
}

.gallery-row .gallery-description {
    padding: 20px;
    border: 1px solid black;
    margin-bottom: 20px;
    background-color: #fff;
}

.gallery-row .gallery-content {
    background-color: #fff;
    padding: 20px;
    border: 1px solid black;
}

.group .gallery-navigation {
    margin-bottom: 10px;
}

.group .gallery-navigation h1 {
    text-align: center;
}

.group .gallery-navigation button {
    width: 100%;
}

.group .gallery-navigation button:nth-child(n+2) {
    margin-top: 10px
}

#repository-count {
    font-size: 42px;
    float: right;
    margin: 0;
    position: absolute;
    top: -10px;
    color: rgba(50, 50, 50, .2);
    right: 10px;
    font-family: "Monoid";
}

.footer {

}

#copyright {
    float: right;
}

@media (max-width: 768px) {

    .header-info span {
        height: 24px;
        display: block;
        margin-bottom: 20px;
        font-size: 24px;
    }

}

@media (max-width: 575px) {

    .header {
        padding: 5px;
    }

    .header .github {
        padding: 6px;
    }

    .header-info {
        padding-top: 50px;
        padding-bottom: 30px;
    }

    .header-info h1, .header-info span {
        font-size: 28px;
    }

    .header-info .search-results {
        left: 0;
    }

    .header-info span {
        height: 24px;
        display: block;
        margin-bottom: 20px;
        font-size: 24px;
    }

    .header-info p {
        font-size: 16px;
    }

    .profile-picture {
        position: absolute;
        top: 0; bottom:0; left: 0; right:0;
        margin: auto;
    }

    .gallery-row .col-sm-6:nth-child(n+2) .picture {
        margin-top: 10px;
    }

    #repository-count {
        display: none;
    }

    .group {
        text-align: center;
    }

    #copyright {
       float: none;
    }

    .footer {
        text-align: center;
    }

}