@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900');

@font-face {
    font-family: 'monoidbold';
    src: url('../fonts/monoid-bold-webfont.woff2') format('woff2'),
    url('../fonts/monoid-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'monoiditalic';
    src: url('../fonts/monoid-italic-webfont.woff2') format('woff2'),
    url('../fonts/monoid-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'monoidregular';
    src: url('../fonts/monoid-regular-webfont.woff2') format('woff2'),
    url('../fonts/monoid-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'monoidretina';
    src: url('../fonts/monoid-retina-webfont.woff2') format('woff2'),
    url('../fonts/monoid-retina-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    font-family: 'Raleway', sans-serif;
}

body {
    margin: 0;
    margin-top: 100px;
    background-image: url("../images/background.png");
    background-size: 100vw;
}

button.filter {
    background-color: white;
    border-radius: 5px;
    padding: 5px 20px;
    border: 1px solid rgb(50, 50, 50);
}

button.filter:nth-child(1n+2) {
    margin-left: 10px;
}

button:hover.filter {
    background-color: rgb(50, 150, 250);
    border-color: rgb(50, 150, 250);
    color: white;
}

button:active.filter {
    background-color: rgb(50, 50, 50);
    color: white;
}

button.selected {
    background-color: rgb(50, 50, 50);
    color: white;
}

img {
    border-radius: 10px;
    width: 240px
}

.header {
    z-index: 10000;
    background-color: #fff;
    padding: 20px 0;
    vertical-align: middle;
    top: 0;
    width: 100%;
    position: fixed;
    border-bottom: 1px solid rgb(50, 50, 50);
}

.header p {
    margin: 0;
    font-size: 24px;
}

.header .logo {
    background-image: url('../images/logo.svg');
    display: inline-block;
    width: 20px;
    height: 20px;
}

.header .link {
    float: right;
    margin: 5px 15px;
    color: rgb(50, 50, 50);
}

.profile-picture {
    float: right;
}

.content {
    margin: 20px 0;
}

.experience {
    position: relative;
    overflow: hidden;
}

.experience .fill {
    position: absolute;
    background-color: rgba(50, 150, 250, 0.1);
    width: 100%;
    left: 0;
    bottom: 0;
}

.group {
    margin-top: 50px;
}

.card-content {
    z-index: 100;
}

.spacer {
    padding: 10px;
}

.card {
    background-color: #fff;
    padding: 10px;
    padding-top: 150px;
    text-align: right;
    border: 1px solid rgb(50, 50, 50);
}

.card .language {
    font-size: 48px;
    position: absolute;
    top: 10px;
    left: 20px;
    opacity: .2;
}

.card h1 {
    font-size: 21px;
}

#repository-count {
    font-size: 68px;
    float: right;
    margin: 0;
    position: absolute;
    top: -45px;
    color: rgba(50, 50, 50, .2);
    right: 10px;
    font-family: "Monoid";
}

.footer {

}

#copyright {
    float: right;
}